mixin contacts(mixes)

  - const data = require('views/components/contacts/data.js')
  - const css = require('views/components/contacts/_css.json')

  div(class=css.contacts class=mixes)
    div(class=css.left)
      h4(class=css.title class='font-gora') Контакты

      div(class=css.info)
        a(class=css.phone class='font-gora' href='tel:+79261622232') +7 926 162-22-32
        span(class=css.address) г. Москва, г. Зеленоград, ул. Новокрюковская, 7
        div(class=css.hoursGroup)
          div(class=css.hoursItem)
            span(class=css.hoursName class='font-gora') Будни
            span(class=css.hours) 7:00 – 23:00
          div(class=css.hoursItem)
            span(class=css.hoursName class='font-gora') Выходные
            span(class=css.hours) 10:00 – 23:00

      div(class=css.social)
        a(class=css.socialLink href='https://untappd.com/v/hops-and-coffee/6680264')
          img(class=css.socialIcon src=require('views/components/contacts/img/i-untappd.png') alt='Иконка')
        a(class=css.socialLink href='https://www.instagram.com/hops_coffee/' target='_blanc')
          img(class=css.socialIcon src=require('views/components/contacts/img/i-inst.svg') alt='Иконка')

    div(class=css.right)
      div(class=css.map id='YMapsID')