block title
  title

block content

  - const data = require('./data.js')
  - const css = require('./_css.json')

  div(id='index-pg' class=css.indexPg)
    picture
      source(srcset=require('./img/bg-mob.png') media='(max-width: 575.98px)')
      img(class=css.bg srcset=require('./img/bg.png') alt='Изображение')

    div(class=css.container)
      a(class=css.left href='hops.html')

      a(class=css.right href='coffee.html')





