include ~@/_imports

doctype html
html
  head(lang='ru')
    meta(charset='UTF-8')
    block seo
      meta(name='description', content='')
      meta(name='keywords', content='')
      //- link(rel='manifest' href='static/manifest.json')
      meta(name='msapplication-TileColor' content='#ffffff')
      meta(name='theme-color' content='#ffffff')

    meta(
      name='viewport',
      content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0'
    )
    meta(
      http-equiv='X-UA-Compatible',
      content='ie=edge'
    )

    script(src='https://api-maps.yandex.ru/2.1/?apikey=da1e8a2f-665e-4c19-a1be-d31f81e087b6&lang=ru_RU' type='text/javascript')

    
    block title
      title Главная

  body

    +header

    block content

      