block title
  title

block content

  - const data = require('./data.js')
  - const css = require('./_css.json')

  div(id='welcome-pg' class=css.welcomePg)
    img(class=css.bg src=require('./img/bg.png') alt='Изображение')

    div(class=css.container)
      a(class=css.left href='index.html')

      a(class=css.right href='index.html')


